#content {
  padding: 10px 20px 10px 20px;
}

.nav-wrapper {
  background-color: #0147FA;
}

nav ul li:hover, nav ul li.active {
  background-color: #0EBFE9;
}

.eventForm label {
  color: #FFFFFF;
}

#createEventForm input {
 color: #FFFFFF;
}

#createEventForm button {
 background-color: #0EBFE9;
}

body {
  background-color: #19A3FF;
}

h1, h2, h3 {
  color: #FFFFFF;
}

#searchResults a {
  color: #000000;
}

.fb-login-button {
  padding: 15px 10px 10px 10px;
}

#fbPicture {
  padding: 10px 10px 10px 10px;
}
