.css-slideshow{
   position: relative;
   max-width: 495px;
   height: 370px;
   margin: 5em auto .5em auto;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}
.css-slideshow figure{
   opacity:0;
}

#content {
  padding: 10px 20px 10px 20px;
}

.nav-wrapper {
  background-color: #000000;
  background-image: url(http://www.ultralightinghire.co.uk/media/IMG_3397.jpg);
}

.welcome {
  text-align: center;
  color: #001f3f;
}

nav ul li:hover, nav ul li.active {
  background-color: #000000;
  background-image: url(http://www.ultralightinghire.co.uk/media/IMG_3397.jpg);
}

#icon {
  font-size: 1000%;
  color: white;
}

#splash {
  text-align: center;
  background-color:rgba(75,75,75,0.75);
}

.eventForm label {
  color: #FFFFFF;
}

#createEventForm input {
 color: #FFFFFF;
 font-size: 200%;
}

#createEventForm button {
 background-color: #0EBFE9;
 background-image: url(http://www.ultralightinghire.co.uk/media/IMG_3397.jpg);
}

#searchForm input {
 color: #ffffff;
}

/* label underline  color */
.input-field input {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
  font-size: 150%;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-size: 150%;
}


#searchForm label {
 font-size:150%;
}

body {
  background-color: #212121;
  background-image: url(http://www.ultralightinghire.co.uk/media/IMG_3397.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

h1, h2, h3, h4, h5 {
  color: #FFFFFF;
}

#searchResults a {
  color: #000000;
}

.fb-login-button {
  padding: 15px 10px 10px 10px;
}

#fbPicture {
  padding: 10px 10px 10px 10px;
}










