#content {
  padding: 10px 20px 10px 20px;
}

.nav-wrapper {
  background-color: #0147FA;
}

nav ul li:hover, nav ul li.active {
  background-color: #0EBFE9;
}

.eventForm label {
  color: #FFFFFF;
}

#createEventForm input {
 color: #FFFFFF;
 font-size: 200%;
}

#createEventForm button {
 background-color: #0EBFE9;
}

#searchForm input {
 color: #ffffff;
}

/* label underline  color */
.input-field input {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
  font-size: 150%;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-size: 150%;
}


#searchForm label {
 font-size:150%;
}

body {
  background-color: #19A3FF;
}

h1, h2, h3 {
  color: #FFFFFF;
}

#searchResults a {
  color: #000000;
}

.fb-login-button {
  padding: 15px 10px 10px 10px;
}

#fbPicture {
  padding: 10px 10px 10px 10px;
}
